@use "sass:color";

// COLORS
$light-colors: (
    background: #dce3eb,
    isle: #ffffff,
    title: #45677d,
    normal-text: #373c43,
    alternate-text: #505868,
    orange: #f28d30,
    blue: #317ae7,
);

// TODO: Remove hardcoded colors from these places:
// ReceiveTable Headers Background
// Logger start and stop button
// Form Text input valid and invalid
// Form Button foreground color
// Connection table item colors
// ChartMenu Sidebar PacketItem background
// ChartMenu ChartList background
// * ChartMenu Chart SVG
// * ChartMenu Legend LegendItem color
// TransmitTable OrderHeader header-color

// TODO: select corporate colors
$corporate-colors: (
    background: #dce3eb,
    isle: #ffffff,
    title: #45677d,
    normal-text: #373c43,
    alternate-text: #505868,
    orange: #f28d30,
    blue: #317ae7,
);

// TODO: select dark colors
$dark-colors: (
    background: #dce3eb,
    isle: #ffffff,
    title: #45677d,
    normal-text: #373c43,
    alternate-text: #505868,
    orange: #f28d30,
    blue: #317ae7,
);


:root {
    @each $name,
    $color in $light-colors {
        --color-#{$name}: #{$color};
    }
}

:root:has(#theme-picker-corporate:checked) {
    @each $name,
    $color in $corporate-colors {
        --color-#{$name}: #{$color};
    }
}

:root:has(#theme-picker-dark:checked) {
    @each $name,
    $color in $dark-colors {
        --color-#{$name}: #{$color};
    }
}

// FONTS
//TODO: define fallbacks fonts in case some are not installed
$sans-font: Inter, Helvetica, Arial;
$code-font: Consolas, Cascadia Code, Cascadia Mono, Monospace;
$alternate-code-font: Consolas, Monospace;

// FONT-SIZE
$title-font-size: 1.9rem;
$normal-font-size: 1rem;
$small-font-size: x-small;

// FONT-WEIGHT
$bold-font-weight: 700;
$normal-font-weight: 400;

// PADDING
$large-padding: 2rem;
$normal-padding: 1.2rem;

// BORDER-RADIUS
$large-border-radius: 1rem;
$normal-border-radius: 0.2rem;

// BORDER-WIDTH
$normal-border-width: 1px;

// TRANSITIONS
$normal-transition-time: 0.08s;
$opacity-transition: opacity $normal-transition-time linear;
$background-color-transition: background-color $normal-transition-time linear;

// MIXINS
@mixin code-text {
    font-family: $code-font;
    font-size: $normal-font-size;
    color: $normal-text-color;
}

@mixin alternate-code-text {
    font-family: $alternate-code-font;
    font-size: $normal-font-size;
    color: $alternate-text-color;
}

@mixin title-text {
    font-family: $sans-font;
    font-size: $title-font-size;
    color: $title-color;
    font-weight: $bold-font-weight;
}

@mixin normal-text {
    font-family: $sans-font;
    font-size: $normal-font-size;
    color: $alternate-text-color;
    font-weight: $normal-font-weight;
}

@mixin subtitle-text {
    font-family: $code-font;
    font-size: $normal-font-size;
    font-style: italic;
    color: #a9adb6;
}

@mixin tab-text {
    font-family: $sans-font;
    font-size: $normal-font-size;
    font-weight: 500;
    color: $title-color;
}

@mixin inherit-text {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}

@mixin undraggable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@mixin flash-button($color) {
    @keyframes flash-button {
        0% {
            background-color: lightness($color, 18%);
        }

        20% {
            background-color: lightness($color, 0%);
        }
    }

    animation-name: flash-button;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.29, 0.85, 1, 1);
}

// FUNCTIONS
@function transparency($color, $transparency) {
    @return color.adjust($color, $alpha: $transparency);
}

@function lightness($color, $lightness) {
    @return color.adjust($color, $lightness: $lightness);
}

@function saturation($color, $saturation) {
    @return color.adjust($color, $saturation: $saturation);
}